
students/k3241/Puzyrev_Dmitry/.DS_Store
students/k3241/.DS_Store
students/k3241/Puzyrev_Dmitry/lr_2/.DS_Store

*.DS_Store 

students/k3243/Gritsai_Arina/Lr_2/.DS_Store
students/.DS_Store
students/k3243/.DS_Store
students/k3243/Gritsai_Arina/.DS_Store
.DS_Store

